/*
Colors Used:
Primary Color: (magenta) AB3E5B
Secondary Color: (yellow) ffbe40
Tertiary Colors: (light green) B3CC57, (light yellow) ECF081, (pink) EF746F
*/
* {
  box-sizing: border-box;
}

nav > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #ab3e5b;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  font-weight: 700;
  color: #ab3e5b;
}

nav > ul > li > a:hover,
a:focus {
  padding: 0 15px;
  font-weight: 700;
  color: #ef746f;
}

nav > ul > li > a:active {
  padding: 0 15px;
  font-weight: 700;
  color: #ffbe40;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 0.5px solid #ef746f;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 10px 0 1px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.55);
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 58px;
}

/* HEADINGS */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* IMAGE */
img {
  width: 100%;
}

/* HYPERLINKS */
a {
  color: #ab3e5b;
  text-decoration: none;

  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ab3e5b;
}

a:hover,
a:focus {
  color: #ef746f;
}

a:active {
  /* selected link */
  color: #ffbe40;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #ab3e5b;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ef746f;
  transition: 0.2s opacity;
}

.button:visited {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ef746f;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
  padding: 10px;
  color: #fff;
}

.button:active {
  color: #ffbe40;
  font-weight: 400;
  padding: 10px;
  text-transform: none;
  border-radius: 3px;
  border-bottom: 2px solid #ef746f;
}

.button.contact {
  background-color: transparent;
  color: #ab3e5b;
  border: 2px solid #ab3e5b;
  border-radius: 3px;
  border-bottom: 2px solid #ef746f;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #ab3e5b;
  color: #fff;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 0.25px solid #ef746f;
  margin: 25px 0;
}

#hero {
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
  font-weight: 500;
  color: black;
}

.backgroundhero {
  background-image: url(../img/heroimg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.logo {
  max-width: 180px;
  vertical-align: middle;
  padding-top: 0.23em;
}

footer {
  background-color: #fff7d6;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}

.footerimg {
  background-image: url(../img/footerimg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#social-buttons > ul {
  list-style-type: none;
  padding: 0;
}

#social-buttons > ul > li {
  display: block;
}

/* BREAKPOINT */

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    max-width: 300px;
  }

  .navtoggle.responsive li {
    border-top: none;
    padding: 0;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
}

/* Large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.6%;
  }

  .col-lg-7 {
    width: 58.3%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  body {
    font-size: 20px;
  }
}

/* SCROLL NAV

/* BREAKPOINT /
/ Small devices (Smaller than 640px) */

@media only screen and (max-width: 640px) {
  .scrollbar {
    white-space: nowrap;
    background: #ab3e5b;
    position: sticky;
    top: 55px;
  }

  .scrollbar ul {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    line-height: 1.5rem;
    padding: 0.3rem 1.5rem;
  }

  .scrollbar a {
    color: #fff;
  }

  .scrolllogo {
    display: none;
  }

  section {
    scroll-margin-top: 16em;
  }
}

/* BREAKPOINT /
/ Medium devices (640px and larger) */

@media only screen and (min-width: 640px) {
  .scrollbar html {
    scroll-behavior: smooth;
  }

  #title {
    grid-column: 1 / 3;
  }

  #unfilteredyou main {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .scrollbar {
    white-space: nowrap;
    background: #ab3e5b;
  }

  .scrollbar ul {
    list-style-type: none;
    text-decoration: none;
    position: sticky;
    top: 0;
    padding: 0;
  }

  .scrollbar ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }

  .scrolllogo {
    display: block;
    padding: 1em;
    width: 60%;
    z-index: -1;
  }

  section {
    padding: 2rem;
    margin: 0 0 2rem;
    scroll-margin-top: 11em;
  }

  footer {
    grid-column: 1 / 3;
  }
}
